.loop-up{
  animation: up-loop 20000ms linear 0ms infinite;
}

@keyframes up-loop {
    0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

.transitionOverlay_01{
  position: fixed;
  opacity: 0;
  width: 200vw;
  height: 200vh;

  background: black;

  top: 50%;
  left: 200%;

  transform: translate(-50%, -50%) rotate(45deg);

  filter: blur(40px);

  z-index: 9999;

  pointer-events: none;
}

.transitionOverlay_01.active{
  opacity: 1;
  transition: transform 3.5s cubic-bezier(.41,.41,.68,.91);

  transform: translate(-350%, -50%)  rotate(45deg);
}