@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary-color: #0F0F10;
    --secondary-color: #F4F1EC;
    --tertiary-color: linear-gradient(90deg,
                                    rgb(184, 138, 47) 0%,
                                    rgb(215, 189, 138) 50%,
                                    rgba(158, 116, 38, 0.9) 100% );
    --bText: #0F0F10;
    --wText: #F4F1EC;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderShadow{
    border-radius: 6px;
    box-shadow: 0px 0px 60px 10px rgb(244, 241, 236, 0.17);
}

.pageBackground{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.pageBackground::before{
    content: "";
    position: absolute;
    inset: -40px;

    background-image: url(src/img/silverDust.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: up-loop 20000ms linear 0ms infinite;

    z-index: -1;
}

/* HOME section */
#home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.showSorteos{
    min-width: 60%;
    display: flex;
    gap: 11px;
    
    transition:
        flex 600ms cubic-bezier(.22,.61,.36,1),
        opacity 400ms ease,
        box-shadow 400ms ease;
}


.sorteo{
    position: relative;

    flex: 1;
    aspect-ratio: 5/4;
    opacity: 0.8;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    border: 1px solid rgb(244, 241, 236, 0.27);
    box-shadow: inset 0px 0px 60px 16px rgba(0, 0, 0, 0.67);

    transition:
        flex 600ms cubic-bezier(.22,.61,.36,1),
        opacity 500ms ease,
        box-shadow 400ms ease;
}

.sorteo:hover{
    flex: 3;
    opacity: 1;
    box-shadow: inset 0px 0px 60px 16px rgba(0, 0, 0, 0.87);
}


.sorteo:hover .sorteotexto{
    opacity: 1;
    transition:
        transform 400ms ease,
        filter 400ms ease,
        opacity 600ms ease,
        box-shadow 400ms ease;
}

.sorteo-01{
    background-image: url(src/img/casino.jpg);

}
.sorteo-02{
    background-image: url(src/img/beach.jpg);

}
.sorteo-03{
    background-image: url(src/img/clock.jpg);

}

.sorteotexto{
    font-size: 1.3rem;
    color: var(--wText);
    opacity: 0.4;

    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* HOME section END */